/* Hero Parallax Hover Effects */
.card-overlay,
.card-title {
  transition: opacity 0.3s ease;
}

a:hover .card-overlay {
  opacity: 1 !important;
}

a:hover .card-title {
  opacity: 1 !important;
}
